modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["stripe:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 8083
externalPort = 3003

[[ports]]
localPort = 20637
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
grok_API_KEY = "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"
GEMINI_API_KEY = "AQ.Ab8RN6ICkoNqaf2DFBiXruzWOPAcDmOwdozau2wnilFYa5O5Dw"
deepseek_api_keys = "sk-bb33db3db6a346b18fa5f57f847aeccf"
STRIPE_PUBLISHABLE_KEY = "pk_test_51TegP2DW8Ua4zHxtORN4sRObyWB9DOHKRHo45G6OaINDNwDeKRvzXNL3VZbBv6MQiRrko8NBkmM2l4AHzT5MFjmS00aKraoGZG"
VITE_STRIPE_PUBLISHABLE_KEY = "pk_test_51TegP2DW8Ua4zHxtORN4sRObyWB9DOHKRHo45G6OaINDNwDeKRvzXNL3VZbBv6MQiRrko8NBkmM2l4AHzT5MFjmS00aKraoGZG"
